.c-footer {
    width: 100vw;
    /* Temporaire */
    min-height: 8rem;
    position: absolute;
    bottom: 0;
    /*  */
    background-color: var(--dark-blue);
}

.c-footer h1 {
    font-size: 3rem;
    color: #FAFAFA;
}