/****************************************/
/**********  HEADER COMPONENT  **********/
/****************************************/

.c-header {
    /* Variable interne */
    --Header-paddingY : 1.2rem;
    --Header-paddingX : 12rem;
    --Header-fontSize : 2.4rem;
    /* **************** */

    width: calc(100% - ( 2 * var(--Header-paddingX)));
    height: auto;
    padding: var(--Header-paddingY)  var(--Header-paddingX);

    /* Flex */
    display: flex;
    justify-content: space-between;

    /* Box shadow */
    box-shadow: rgba(0, 0, 0, 0.05) 0px 6px 24px 0px, rgba(0, 0, 0, 0.08) 0px 0px 0px 1px;
}

.c-header__navigation{
    display: flex;
    align-items: center;
    gap: 1.6rem;
}

.c-header__navigation-link{
    font-size: var(--Header-fontSize);
}

.c-header__navigation-link a {
    color: var(--black);
    font-weight: 500;
    transition: all 0.3s ease;
    font-family: 'Montserrat';
}

.c-header__navigation-link:hover a {
    color: var(--dark-blue);
}

.c-header__logo{
}

.c-header__connexion{
    display: flex;
    align-items: center;
    gap: 2.4rem;
}