.head {
    display: flex;
    flex-direction: column;
    gap: 4px;

    p {
        color: var(--grey-700);
        font-size: 0.75rem;
    }
}

.list {
    display: flex;
    flex-direction: column;
    gap: 6px;

    li {
        a {
            &:hover {
                p {
                    text-decoration: underline;
                }
            }
        }
    }
}